* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.logo {
  color: #3563E9;
  height: 96px;
  text-decoration: none;
  font-weight: 700;
  line-height: 96px;
  display: block;
}

.header {
  padding-bottom: 32px;
  border: 1px solid rgba(195, 212, 233, 0.4);
}

@media (min-width: 1280px) {
  .header {
    height: 124px;
    padding-bottom: 0;
  }
}

.desctop {
  display: none;
}

@media (min-width: 1280px) {
  .desctop {
    max-width: 1340px;
    margin: 0 auto;
    position: relative;
    display: block;
  }
}

.desctop .photo {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 34px;
  right: 25px;
}

.desctop .photo img {
  width: 44px;
  height: 44px;
}

.desctop .desk-form {
  position: relative;
  width: 492px;
}

.desctop .desk-form .tune {
  position: absolute;
  display: block;
  border-radius: 10px;
  right: 35px;
  width: 48px;
  height: 48px;
}

.desctop .desk-form .filter-icon {
  width: 24px;
  height: 24px;
}

.desctop .icon {
  width: 44px;
  height: 44px;
  position: relative;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.desctop .bell::before {
  content: url(../images/Notif.svg);
  position: absolute;
  top: -7px;
  right: 8px;
  display: block;
  width: 4px;
  height: 4px;
}

.desctop .navbar-nav {
  width: 40%;
}

.input-control {
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding-left: 45px;
  border-radius: 70px;
  height: 44px;
}

.input-control::-webkit-input-placeholder {
  color: #3D5278;
}

.input-control:-ms-input-placeholder {
  color: #3D5278;
}

.input-control::-ms-input-placeholder {
  color: #3D5278;
}

.input-control::placeholder {
  color: #3D5278;
}

.search-loop {
  position: absolute;
  display: block;
  left: 26px;
  width: 19px;
  height: 19px;
  line-height: 44px;
  text-align: center;
  color: #aaa;
}

.mobile {
  display: block;
  position: relative;
  padding-top: 30px;
}

@media (min-width: 1280px) {
  .mobile {
    display: none !important;
  }
}

.mobile .form {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.mobile .form .form-mob-input {
  height: 48px;
  border-radius: 10px;
}

.mobile .form .form-mob-input ::-webkit-input-placeholder {
  font-size: 14px;
}

.mobile .form .form-mob-input :-ms-input-placeholder {
  font-size: 14px;
}

.mobile .form .form-mob-input ::-ms-input-placeholder {
  font-size: 14px;
}

.mobile .form .form-mob-input ::placeholder {
  font-size: 14px;
}

.mobile .form .mob-btn {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 10px;
}

.mobile .mob-photo {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 30px;
  right: 25px;
}

.aside {
  width: 25%;
  border-right: 1px solid #F3F5F7;
  margin-right: 30px;
  padding: 32px;
  display: none;
}

@media (min-width: 768px) {
  .aside {
    display: block;
  }
}

.aside .title {
  color: #94A7CB;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.aside__checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #90A3BF;
}

.aside__label {
  font-weight: 600;
  color: #3D5278;
  margin-left: 10px;
}

.aside__label span {
  color: #90A3BF;
}

.aside__last {
  margin-bottom: 56px;
}

.aside__progress {
  position: relative;
  height: 12px;
  border-radius: 14px;
  margin-bottom: 16px;
}

.aside__progress img {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  right: 24%;
  top: -3px;
}

.aside .text {
  font-weight: 600;
  color: #3D5278;
}

@media (min-width: 768px) {
  .main {
    padding-right: 25px;
  }
}

.section-container {
  width: 90%;
  margin: 32px auto;
}

@media (min-width: 1280px) {
  .section-container {
    width: 72%;
    margin: 32px auto;
  }
}

.section-container .section-top {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 768px) {
  .section-container .section-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .section-container .section-top {
    height: 508px;
  }
}

.section-container .section-top .img-block {
  width: 327px;
  min-height: 320px;
  margin: 0 auto 32px;
  position: relative;
}

@media (min-width: 768px) {
  .section-container .section-top .img-block {
    margin: 0;
    width: 49%;
  }
}

.section-container .section-top .img-block .img-container {
  width: 327px;
  height: 232px;
  margin: 0 auto 24px;
}

@media (min-width: 768px) {
  .section-container .section-top .img-block .img-container {
    margin: 0;
    width: 100%;
    margin-bottom: 24px;
  }
}

@media (min-width: 1280px) {
  .section-container .section-top .img-block .img-container {
    height: 360px;
    background-size: 100% 100%;
    margin-bottom: 24px;
  }
}

.section-container .section-top .img-block .img-small-container {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 327px;
}

@media (min-width: 768px) {
  .section-container .section-top .img-block .img-small-container {
    width: 100%;
  }
}

.section-container .section-top .img-block .img-small-container .small-img1 {
  background-image: url(../images/Look-1.svg);
  background-repeat: no-repeat;
  width: 32%;
  height: 64px;
}

@media (min-width: 1280px) {
  .section-container .section-top .img-block .img-small-container .small-img1 {
    background-image: url(../images/View-1.svg);
    background-size: 100% 100%;
    height: 124px;
  }
}

.section-container .section-top .img-block .img-small-container .small-img2 {
  background-image: url(../images/Look-2.svg);
  background-size: 100% 100%;
  width: 32%;
  height: 64px;
}

@media (min-width: 1280px) {
  .section-container .section-top .img-block .img-small-container .small-img2 {
    background-image: url(../images/View-2.svg);
    background-size: 100% 100%;
    height: 124px;
  }
}

.section-container .section-top .img-block .img-small-container .small-img3 {
  background-image: url(../images/Look-3.svg);
  background-size: 100% 100%;
  width: 32%;
  height: 64px;
}

@media (min-width: 1280px) {
  .section-container .section-top .img-block .img-small-container .small-img3 {
    background-image: url(../images/View-3.svg);
    background-size: 100% 100%;
    height: 124px;
  }
}

.section-container .section-top .right-block {
  width: 327px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .section-container .section-top .right-block {
    width: 45%;
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .section-container .section-top .right-block {
    height: 100%;
  }
}

.section-container .section-top .right-block .title-block {
  width: 100%;
}

.section-container .section-top .right-block .title-block h2 {
  font-size: 20px;
}

@media (min-width: 1280px) {
  .section-container .section-top .right-block .title-block h2 {
    font-size: 32px;
  }
}

.section-container .section-top .right-block .start-block span {
  font-size: 12px;
  color: #3D5278;
  font-weight: 500;
}

@media (min-width: 1280px) {
  .section-container .section-top .right-block .start-block span {
    font-size: 14px;
  }
}

.section-container .section-top .right-block .description {
  color: #3D5278;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: -0.02em;
}

@media (min-width: 1280px) {
  .section-container .section-top .right-block .description {
    font-size: 20px;
  }
}

.section-container .section-top .right-block .price span {
  color: #90A3BF;
  font-size: 12px;
}

@media (min-width: 1280px) {
  .section-container .section-top .right-block .price span {
    font-size: 16px;
  }
}

.section-container .section-top .right-block .price .price-gray {
  font-size: 12px;
  color: #90A3BF;
}

@media (min-width: 1280px) {
  .section-container .section-top .right-block .price .price-gray {
    font-size: 16px;
  }
}

.section-container .section-top .right-block .price .price-bold {
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 1280px) {
  .section-container .section-top .right-block .price .price-bold {
    font-size: 28px;
  }
}

.section-container .section-top button {
  height: 56px;
  width: 140px;
}

.light-text {
  color: #90A3BF;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
}

@media (min-width: 1280px) {
  .light-text {
    font-size: 20px;
  }
}

.dark-text {
  font-weight: 600;
  font-size: 12px;
  color: #3D5278;
  letter-spacing: -0.02em;
}

@media (min-width: 1280px) {
  .dark-text {
    font-size: 20px;
  }
}

.section-middle {
  width: 327px;
  height: 367px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 16px;
}

@media (min-width: 768px) {
  .section-middle {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 25px;
  }
}

.section-middle h2 {
  font-size: 20px;
}

.section-middle .count {
  width: 44px;
  height: 28px;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  border-radius: 4px;
}

.section-middle .user {
  width: 100%;
  padding-left: 52px;
}

@media (min-width: 1280px) {
  .section-middle .user {
    padding-left: 64px;
  }
}

.section-middle .user .icon {
  width: 44px;
  height: 44px;
}

@media (min-width: 1280px) {
  .section-middle .user .icon {
    width: 56px;
    height: 56px;
  }
}

.section-middle .user .name {
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 600;
}

@media (min-width: 1280px) {
  .section-middle .user .name {
    font-size: 20px;
  }
}

.section-middle .user .light-text {
  line-height: 24px;
}

@media (min-width: 1280px) {
  .section-middle .user .light-text {
    font-size: 14px;
  }
}

.section-middle .user .star {
  width: 10px;
  height: 10px;
}

@media (min-width: 1280px) {
  .section-middle .user .star {
    width: 16px;
    height: 16px;
  }
}

.section-middle .user .feedback {
  color: #3D5278;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: -0.02em;
}

@media (min-width: 1280px) {
  .section-middle .user .feedback {
    font-size: 12px;
  }
}

.section-middle .on-phone {
  display: block;
}

@media (min-width: 1280px) {
  .section-middle .on-phone {
    display: none;
  }
}

.section-middle .on-desctop {
  display: none;
}

@media (min-width: 1280px) {
  .section-middle .on-desctop {
    display: block;
  }
}

.section-middle .select-block {
  width: 101px;
}

.section-middle .select-block img {
  top: 12px;
  right: 6px;
  width: 10px;
  height: 5px;
}

.section-middle .select-block span {
  width: 100px;
  font-size: 14;
  color: #90A3BF;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .section-middle .select-block span {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */