* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.logo {
  color: #3563E9;
  height: 96px;
  text-decoration: none;
  font-weight: 700;
  line-height: 96px;
  display: block;
}

.header {
  padding-bottom: 32px;
  border: 1px solid rgba(195, 212, 233, 0.4);
}

@media (min-width: 1280px) {
  .header {
    height: 124px;
    padding-bottom: 0;
  }
}

.desktop {
  display: none;
}

@media (min-width: 1280px) {
  .desktop {
    max-width: 1340px;
    margin: 0 auto;
    position: relative;
    display: block;
  }
}

.desktop__photo {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 34px;
  right: 25px;
}

.desktop__photo-img {
  width: 44px;
  height: 44px;
}

.desktop__form-container {
  position: relative;
  width: 492px;
}

.desktop__filter-icon {
  width: 24px;
  height: 24px;
}

.desktop__btn-tune {
  position: absolute;
  display: block;
  border-radius: 10px;
  right: 35px;
  width: 48px;
  height: 48px;
}

.desktop__btn-tune:focus, .desktop__btn-tune:active:focus, .desktop__btn-tune.active:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.desktop__icon {
  width: 44px;
  height: 44px;
  position: relative;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.desktop__icon--bell::before {
  content: url(../images/Notif.svg);
  position: absolute;
  top: -7px;
  right: 8px;
  display: block;
  width: 4px;
  height: 4px;
}

.desktop__input-control {
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding-left: 45px;
  border-radius: 70px;
  height: 44px;
}

.desktop__input-control::-webkit-input-placeholder {
  color: #3D5278;
}

.desktop__input-control:-ms-input-placeholder {
  color: #3D5278;
}

.desktop__input-control::-ms-input-placeholder {
  color: #3D5278;
}

.desktop__input-control::placeholder {
  color: #3D5278;
}

.desktop__search-loop-icon {
  position: absolute;
  display: block;
  left: 26px;
  width: 19px;
  height: 19px;
  line-height: 44px;
  text-align: center;
  color: #aaa;
}

.section-container {
  width: 90%;
  max-width: 1100px;
  margin: 32px auto;
}

@media (min-width: 1280px) {
  .section-container {
    width: 72%;
    margin: 32px auto;
  }
}

.mobile {
  display: block;
  position: relative;
  padding-top: 30px;
}

@media (min-width: 1280px) {
  .mobile {
    display: none !important;
  }
}

.mobile__nav-link {
  color: #3D5278;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.mobile__nav-link:hover {
  color: black;
}

.mobile__form {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.mobile__input {
  height: 48px;
  padding-left: 40px;
  border-radius: 10px;
}

.mobile__input::-webkit-input-placeholder {
  font-size: 14px;
}

.mobile__input:-ms-input-placeholder {
  font-size: 14px;
}

.mobile__input::-ms-input-placeholder {
  font-size: 14px;
}

.mobile__input::placeholder {
  font-size: 14px;
}

.mobile__search-loop-icon {
  position: absolute;
  display: block;
  left: 26px;
  width: 19px;
  height: 19px;
  line-height: 44px;
  text-align: center;
  color: #aaa;
}

.mobile__btn {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 10px;
}

.mobile__photo {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 30px;
  right: 25px;
}

.aside {
  width: 25%;
  border-right: 1px solid #F3F5F7;
  margin-right: 30px;
  padding: 32px;
  display: none;
}

@media (min-width: 1280px) {
  .aside {
    display: block;
  }
}

.aside__title {
  color: #94A7CB;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.aside__checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #90A3BF;
  cursor: pointer;
}

.aside__label {
  font-weight: 600;
  color: #3D5278;
  margin-left: 10px;
  cursor: pointer;
}

.aside__label-text {
  color: #90A3BF;
}

.aside__last {
  margin-bottom: 56px;
}

.aside__range {
  height: 12px;
  margin-bottom: 16px;
}

.aside__text {
  font-weight: 600;
  color: #3D5278;
}

@media (min-width: 768px) {
  .main {
    padding-right: 25px;
  }
}

.section-top {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 768px) {
  .section-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .section-top {
    max-height: 508px;
  }
}

.section-top__right-block {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .section-top__right-block {
    width: 45%;
    height: auto;
    margin: 0;
  }
}

.section-top__title-block {
  width: 100%;
}

.section-top__tight-title {
  font-size: 20px;
}

@media (min-width: 1280px) {
  .section-top__tight-title {
    font-size: 32px;
  }
}

.section-top__heart {
  cursor: pointer;
}

.section-top__stars-block span {
  font-size: 12px;
  color: #3D5278;
  font-weight: 500;
}

@media (min-width: 1280px) {
  .section-top__stars-block span {
    font-size: 14px;
  }
}

.section-top__right-description {
  color: #3D5278;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: -0.02em;
}

@media (min-width: 1280px) {
  .section-top__right-description {
    font-size: 20px;
  }
}

.section-top__price span {
  color: #90A3BF;
  font-size: 12px;
}

@media (min-width: 1280px) {
  .section-top__price span {
    font-size: 16px;
  }
}

.section-top__price-gray {
  font-size: 12px;
  color: #90A3BF;
}

@media (min-width: 1280px) {
  .section-top__price-gray {
    font-size: 16px;
  }
}

.section-top__price-bold {
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 1280px) {
  .section-top__price-bold {
    font-size: 28px;
  }
}

.section-top__light-text {
  color: #90A3BF;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
}

@media (min-width: 1280px) {
  .section-top__light-text {
    font-size: 20px;
  }
}

.section-top__dark-text {
  font-weight: 600;
  font-size: 12px;
  color: #3D5278;
  letter-spacing: -0.02em;
}

@media (min-width: 1280px) {
  .section-top__dark-text {
    font-size: 20px;
  }
}

.section-middle {
  width: 100%;
  min-height: 367px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  padding: 16px;
}

@media (min-width: 768px) {
  .section-middle {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 25px;
  }
}

.section-middle__header {
  font-size: 20px;
}

.section-middle__count {
  width: 44px;
  height: 28px;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  border-radius: 4px;
}

.section-middle__user {
  width: 100%;
  padding-left: 52px;
}

@media (min-width: 1280px) {
  .section-middle__user {
    padding-left: 64px;
  }
}

.section-middle__icon {
  width: 44px;
  height: 44px;
}

@media (min-width: 1280px) {
  .section-middle__icon {
    width: 56px;
    height: 56px;
  }
}

.section-middle__user-name {
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 600;
}

@media (min-width: 1280px) {
  .section-middle__user-name {
    font-size: 20px;
  }
}

.section-middle__star {
  width: 10px;
  height: 10px;
}

@media (min-width: 1280px) {
  .section-middle__star {
    width: 16px;
    height: 16px;
  }
}

.section-middle__light-text {
  line-height: 24px;
}

@media (min-width: 1280px) {
  .section-middle__light-text {
    font-size: 14px;
  }
}

.section-middle__feedback {
  color: #3D5278;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: -0.02em;
}

@media (min-width: 1280px) {
  .section-middle__feedback {
    font-size: 12px;
  }
}

.section-middle__feedback--on-phone {
  display: block;
}

@media (min-width: 1280px) {
  .section-middle__feedback--on-phone {
    display: none;
  }
}

.section-middle__feedback--on-desctop {
  display: none;
}

@media (min-width: 1280px) {
  .section-middle__feedback--on-desctop {
    display: block;
  }
}

.section-middle__select-block {
  width: 101px;
}

.section-middle__select-img {
  top: 12px;
  right: 6px;
  width: 10px;
  height: 5px;
}

.section-middle__select-span {
  width: 100px;
  font-size: 14;
  color: #90A3BF;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .section-middle__select-span {
    font-size: 16px;
  }
}

.card-block {
  width: 30%;
}

.card-block__desk-card {
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

.card-block__desk-card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-block__car-name {
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 600;
}

@media (min-width: 1280px) {
  .card-block__car-name {
    font-size: 20px;
  }
}

.card-block__heart {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.card-block__car-model {
  font-weight: 700;
  font-size: 14px;
  color: #90A3BF;
  margin-bottom: 52px;
}

.card-block__car-img {
  margin-bottom: 52px;
}

.card-block__car-img2 {
  height: 112px;
}

.card-block__spesification {
  color: #90A3BF;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

@media (min-width: 1280px) {
  .card-block__spesification {
    font-size: 14px;
    line-height: 20px;
  }
}

.card-block__spesification-icon {
  width: 12px;
  height: 12px;
}

@media (min-width: 1280px) {
  .card-block__spesification-icon {
    width: 20px;
    height: 20px;
  }
}

.card-block__price-span {
  color: #90A3BF;
  font-size: 10px;
}

@media (min-width: 1280px) {
  .card-block__price-span {
    font-size: 12px;
  }
}

.card-block__price-gray {
  font-size: 10px;
  color: #90A3BF;
}

@media (min-width: 1280px) {
  .card-block__price-gray {
    font-size: 12px;
  }
}

.card-block__price-bold {
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .card-block__price-bold {
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  .card-block__price-bold {
    font-size: 20px;
  }
}

.card-block__button {
  width: 45%;
  height: 44px;
}

@media (min-width: 768px) {
  .card-block__button {
    font-size: 12px;
    line-height: 12px;
    width: 35%;
  }
}

@media (min-width: 1280px) {
  .card-block__button {
    width: 99px;
    font-size: 12px;
  }
}

.card-block__carousel-mobile {
  display: block;
}

@media (min-width: 768px) {
  .card-block__carousel-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .card-block__title-slider-block {
    display: none !important;
  }
}

.card-block__title-slider {
  color: #90A3BF;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.card-block__title-slider + span {
  font-size: 12px;
}

.footer {
  padding: 40px 30px 24px;
  background: #F6F7F9;
}

@media (min-width: 768px) {
  .footer {
    background: white;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 80px 60px 60px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

@media (min-width: 1280px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo-block {
  width: 100%;
}

@media (min-width: 1280px) {
  .footer__logo-block {
    width: 25%;
  }
}

.footer__logo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 100%;
}

.footer__ul-block {
  list-style: none;
}

.footer__ul-block li {
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.footer__ul-block li:hover {
  color: #000;
}

.footer__text {
  color: #90A3BF;
  font-weight: 500;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: -0.01em;
}

@media (min-width: 1280px) {
  .footer__text {
    font-size: 16px;
  }
}

.footer__info-block {
  width: 100%;
}

@media (min-width: 1280px) {
  .footer__info-block {
    width: 46%;
  }
}

.footer__info-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.footer__about {
  width: 50%;
}

@media (min-width: 768px) {
  .footer__about {
    width: 30%;
  }
}

.footer__socials {
  width: 28%;
}

@media (min-width: 1280px) {
  .footer__socials {
    width: 30%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__community {
  width: 100%;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .footer__community {
    width: 30%;
    margin-top: 0;
  }
}

.footer hr {
  display: none;
}

@media (min-width: 768px) {
  .footer hr {
    display: block;
  }
}

.footer .tail {
  max-width: 1200px;
}

.footer .tail .privacy {
  width: 100%;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer .tail .privacy {
    width: 30%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer .tail .rights {
  width: 100%;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer .tail .rights {
    width: 30%;
  }
}

.button-page {
  height: 56px;
  width: 140px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.button-page:focus, .button-page:active:focus, .button-page.active:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: rgba(255, 255, 255, 0.5);
  -webkit-animation: buttom-circle 1s ease forwards;
          animation: buttom-circle 1s ease forwards;
}

@-webkit-keyframes buttom-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

@keyframes buttom-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

.cards-container {
  display: none;
}

@media (min-width: 768px) {
  .cards-container {
    display: block;
  }
}

.cards-container__title {
  color: #90A3BF;
  font-weight: 600;
}

.slider {
  width: 100%;
  max-width: 492px;
  min-height: 320px;
  margin: 0 auto 32px;
  position: relative;
}

@media (min-width: 768px) {
  .slider {
    margin: 0;
    width: 49%;
  }
}

.slider__for .slider__for-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  max-height: 360px;
}

.slider__nav .slider__nav-img {
  height: 64px;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1280px) {
  .slider__nav .slider__nav-img {
    height: 124px;
    width: 100%;
  }
}

.slider__nav .slider__nav-item {
  margin: 0 10px;
}
/*# sourceMappingURL=main.css.map */