.aside {
  width: 360px;
  border-right: 1px solid #F3F5F7;
  padding: 32px;
  display: none;

  @include onDesctop {
    display: block;
  }

  &__title {
    color: #94A7CB;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #90A3BF;
  }

  &__label {
    font-weight: 600;
    color:#3D5278;
    margin-left: 10px;

    & span {
      color:#90A3BF;
    }
  }

  &__last {
    margin-bottom: 56px;
  }

  &__progress {
    position: relative;
    height: 12px;
    border-radius: 14px;
    margin-bottom: 16px;

    & img {
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      right: 24%;
      top: -3px;
    }
  }
}

.text {
  font-weight: 600;
  color:#3D5278;
}
