.mobile {
  display: block;
  position: relative;
  padding-top: 30px;

  @include onDesctop {
    display: none !important;
  }

  .form {
    position: relative;
    margin: 0 auto;
    width: 100%;

    .form-mob-input {
      height: 48px;
      border-radius: 10px;
  
      & ::placeholder {
        font-size: 14px;
      }
    }

    .mob-btn {
      width: 48px;
      height: 48px;
      border: 1px solid rgba(195, 212, 233, 0.4);
      border-radius: 10px;
    }
  }
  
  .mob-photo{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 30px;
    right: 25px;
  }
}
